@page
@{
    Layout = null;
}
<header>
    <h1 class="text-danger"> Bạn không có quyền truy cập vào trang này</h1>
    <a href="./Index" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">
        Quay lại Trang chủ<i class="fa fa-arrow-right ms-3"></i>
    </a>
</header>
