@page
@model OldCarShowroomNetworkRazorPages.Pages.Car.DeleteModel1

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Bạn chắc chắn muốn xóa</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="Car.CarId" />
        <input type="submit" value="Chấp nhận" class="btn btn-danger" /> |
        <a asp-page="./Index2">Quay lại</a>
    </form>
</div>
