@page
@model OldCarShowroomNetworkRazorPages.Pages.Car.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Xác nhận xóa</h1>

<h3>Bạn chắc chắn muốn xóa</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="Car.CarId" />
        <input type="submit" value="Chấp nhận" class="btn btn-danger" /> |
        <a asp-page="./Index">Quay lại</a>
    </form>
</div>
