@page
@model OldCarShowroomNetworkRazorPages.Pages.Car.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>Car</h4>
<hr />
<div class="row">
    <div>
        <form style="
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    padding: 20px;
" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
           <input type="hidden" asp-for="Car.CarId" />
            <input type="hidden" asp-for="Car.ShowroomId" />
            <div class="form-group">
                
                <select hidden asp-for="Car.Manufactory" class="form-control" asp-items="ViewBag.Manufactory" id="listCarManufactory" onchange="getCarName(this)"></select>
            </div>
            <div class="form-group">
                <label asp-for="Car.CarName" class="control-label">Tên xe</label>
                <select style="background-color: #f5f3ff;" asp-for="Car.CarName" class="form-control" asp-items="ViewBag.CarName" id="listCarName"></select>
            </div>
            <div class="form-group">
                <label asp-for="Car.Version" class="control-label">Phiên bản</label>
                <input asp-for="Car.Version" class="form-control" />
                <span asp-validation-for="Car.Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.CarModelYear" class="control-label">Năm sản xuất/đời</label>
                <select style="background-color: #f5f3ff;" asp-for="Car.CarModelYear" class="form-control" asp-items="ViewBag.CarModelYear"></select>
            </div>
            <div class="form-group">
                <label asp-for="Car.Origin" class="control-label">Xuất xứ</label>
                <input asp-for="Car.Origin" class="form-control" />
                <span asp-validation-for="Car.Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.NumberOfKilometersTraveled" class="control-label">Số Km đã đi</label>
                <input asp-for="Car.NumberOfKilometersTraveled" class="form-control" />
                <span asp-validation-for="Car.NumberOfKilometersTraveled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Vehicles" class="control-label">Dòng xe</label>
                <select style="background-color: #f5f3ff;" asp-for="Car.Vehicles" class="form-control" asp-items="ViewBag.Vehicles"></select>
            </div>
            <div class="form-group">
                <label asp-for="Car.Price" class="control-label">Giá tiền</label>
                <input asp-for="Car.Price" class="form-control" />
                <span asp-validation-for="Car.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Color" class="control-label">Ngoại thất</label>
                <select style="background-color: #f5f3ff;" asp-for="Car.Color" class="form-control" asp-items="ViewBag.Color"></select>
            </div>
            <div class="form-group">
                <label asp-for="Car.ColorInside" class="control-label">Nội thất</label>
                <select style="background-color: #f5f3ff;" asp-for="Car.ColorInside" class="form-control" asp-items="ViewBag.ColorInside"></select>
            </div>
            <div class="form-group">
                <label asp-for="Car.NumberOfDoors" class="control-label">Số cửa</label>
                <input asp-for="Car.NumberOfDoors" class="form-control" />
                <span asp-validation-for="Car.NumberOfDoors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.NumberOfSeats" class="control-label">Số chỗ ngồi</label>
                <input asp-for="Car.NumberOfSeats" class="form-control" />
                <span asp-validation-for="Car.NumberOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Gear" class="control-label">Hộp số</label>
                <input asp-for="Car.Gear" class="form-control" />
                <span asp-validation-for="Car.Gear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Drive" class="control-label">Dẫn động</label>
                <select style="background-color: #f5f3ff;" asp-for="Car.Drive" class="form-control" asp-items="ViewBag.Drive"></select>
            </div>
            <div class="form-group">
                <label asp-for="Car.Fuel" class="control-label">Nhiên liệu</label>
                <select style="background-color: #f5f3ff;" asp-for="Car.Fuel" class="form-control" asp-items="ViewBag.Fuel"></select>
            </div>

            <div class="form-group">
                <label asp-for="Car.FuelIntakeSystem" class="control-label">Hệ thống nạp nhiên liệu</label>
                <input asp-for="Car.FuelIntakeSystem" class="form-control" />
                <span asp-validation-for="Car.FuelIntakeSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.FuelConsumption" class="control-label">Mức tiêu thụ nhiên liệu</label>
                <input asp-for="Car.FuelConsumption" class="form-control" />L/100Km
                <span asp-validation-for="Car.FuelConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Description" class="control-label">Thông tin mô tả</label>
                <textarea asp-for="Car.Description" class="form-control" /></textarea>
                <span asp-validation-for="Car.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageCar.Url" class="control-label">Ảnh xe chính</label>
                @if (Model.ImageCar != null)
                {
                    <div id="currentImage">
                        <img src="@Url.Content(Model.ImageCar.Url)" alt="Current Image" class="img-thumbnail" />
                    </div>
                }
                <input type="file" id="uploadimgmain" name="uploadimgmain" accept="image/*" />

            </div>
            <div class="form-group">
                <label asp-for="ImageCar.Url" class="control-label">Ảnh xe phụ</label>
                @if (Model.ImageCars != null && Model.ImageCars.Count > 0)
                {
                    foreach (var image in Model.ImageCars)
                    {
                        <div id="currentImage">

                            <img src="@Url.Content(image.Url)" alt="Current Image" class="img-thumbnail" />

                        </div>
                    }
                }
                <input type="file" id="uploadimg" name="uploadimg" accept="image/*" />

            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<script>
    function getCarName(eel) {
        console.log(eel.value)
        fetch("/api/car/carName/" + eel.value)
            .then(cars => cars.json())
            .then(carsList => {
                console.log(carsList)
                const select = document.getElementById("listCarName")
                let htmls = carsList.map(car => `<option value="${car.manufactoryId}" > ${car.carName1} </option>`)
                select.innerHTML = htmls.join("")
            })
    }

    window.onload = getCarName(document.querySelector("#listCarManufactory"));
    document.addEventListener("DOMContentLoaded", function() {
        var uploadImgInput = document.getElementById("UploadImg");
        var imageIdInput = document.getElementById("ImageId");

        uploadImgInput.addEventListener("change", function() {
            if (uploadImgInput.files.length === 0) {
                // Không có tệp mới được chọn, giữ lại ID ảnh hiện tại
                imageIdInput.disabled = false;
            } else {
                imageIdInput.disabled = true;
            }
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
